@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Dosis:400|DPT+Mono|Lato:300|Source+Code+Pro:300);
@import url("https://fonts.googleapis.com/css?family=Ek+Mukta:300,400,500,600");
@font-face {
  font-family: "checkable";
  src: url("../fonts/checkable.eot?-fb0nov");
  src: url("../fonts/checkable.eot?#iefix-fb0nov") format("embedded-opentype"), url("../fonts/checkable.woff?-fb0nov") format("woff"), url("../fonts/checkable.ttf?-fb0nov") format("truetype"), url("../fonts/checkable.svg?-fb0nov#checkable") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body, div, p, h1, h2, h3, h4, h5, ul, ol, li,
section, header, footer, article {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f3f8;
  color: #333;
  font-size: 1em;
  line-height: 1.5em;
}

h1, h2, h3 {
  line-height: 1.2em;
}

ul.display-list {
  margin: 1em 0;
}
ul.display-list li {
  list-style-type: disc;
  padding: 4px 0 4px 4px;
  margin-left: 20px;
}

p {
  margin: 1em 0;
}
p a {
  color: #dc1e8d;
  text-decoration: none;
  border-bottom: solid 1px #dc1e8d;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
p a:hover, p a:focus {
  color: #e95eaf;
  border-bottom-color: transparent;
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.95em;
}

/**** 404 ****/
.four-oh-four h1 {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 130px;
  text-align: center;
  margin-top: 80px;
  color: #dc1e8d;
}

.four-oh-four h2 {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
}

/* general */
html, body {
  min-height: 100vh;
}

body {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  background-color: #f1f3f8;
}

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 300;
  padding: 0;
  margin: 0 0 0.5em;
  text-align: center;
}

h2 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin: 1em 0 0.5em;
}

.main-content {
  width: 80%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 1em 1em 2em;
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
}

.tagline {
  text-align: center;
  font-style: italic;
  padding: 0 1em;
}

code.sample {
  display: block;
  padding-bottom: 1em;
}

@media all and (max-width: 850px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.8em;
  }

  .main-content {
    width: 90%;
  }
}
@media all and (max-width: 500px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.6em;
  }

  .main-content {
    width: 100%;
  }
}
/* table of options */
table.option-table {
  border-collapse: collapse;
  padding: 0;
  margin: 15px 0;
  font-size: 0.95em;
}
table.option-table th {
  border-top: solid 1px #f1f3f8;
  border-bottom: solid 1px #f1f3f8;
  font-weight: normal;
  text-align: left;
  padding: 8px 8px;
  background-color: #fff;
}
table.option-table td {
  padding: 8px 16px 8px 8px;
  vertical-align: top;
}
table.option-table td:last-child {
  padding-right: 8px;
}
table.option-table td p {
  padding: 0;
  margin: 0 0 10px 0;
}
table.option-table td p:last-child {
  margin: 0;
}
table.option-table tbody tr:nth-child(even) {
  background-color: #fff;
}
table.option-table tbody tr:nth-child(odd) {
  background-color: #f8f9fb;
}

/* checkable list items */
.checkable-list {
  margin: 20px;
  padding-bottom: 20px;
}
.checkable-list li {
  font-size: 1.2em;
  padding: 4px;
}
.checkable-list input[type=checkbox] {
  position: absolute;
  left: -9999px;
}
.checkable-list label {
  cursor: pointer;
  position: relative;
  line-height: 30px;
}
.checkable-list label:before {
  content: "";
  font-family: "checkable";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  color: #f1f3f8;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  float: left;
  margin-right: 10px;
  border: solid 2px #f1f3f8;
  border-radius: 4px;
  transition: border 0.2s, color 0.2s ease-out;
}
.checkable-list input[type=checkbox]:focus ~ label:before {
  border: solid 2px #00ae68;
}
.checkable-list input[type=checkbox]:checked ~ label:before {
  color: #00ae68;
}
.checkable-list a {
  color: #dc1e8d;
  text-decoration: none;
  border-bottom: solid 1px #dc1e8d;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.checkable-list a:hover, .checkable-list a:focus {
  color: #e95eaf;
  border-bottom-color: transparent;
}

.fork-ribbon-wrapper {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 7em;
  height: 7em;
}

.fork-ribbon {
  position: absolute;
  display: block;
  width: 200%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-55%, -50%) rotate(40deg);
  font-size: 0.8em;
  line-height: 2.2em;
  background-color: #dc1e8d;
  color: #fff;
  text-decoration: none;
  border: dashed 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 4px #dc1e8d, 0 0 4px 4px rgba(0, 0, 0, 0.4);
}
.fork-ribbon:hover, .fork-ribbon:focus {
  background-color: #d31d87;
  box-shadow: 0 0 0 4px #d31d87, 0 0 4px 4px rgba(0, 0, 0, 0.4);
  border: dashed 1px rgba(255, 255, 255, 0.8);
}

header {
  display: block;
  padding: 1em;
  background-color: #444;
  color: #fff;
}
header .main-nav-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
@media all and (min-width: 600px) {
  header .main-nav-list {
    flex-flow: row nowrap;
  }
  header .main-nav-list li.identity {
    order: 2;
    margin: 0 3em;
  }
  header .main-nav-list li:nth-child(2) {
    order: 1;
  }
  header .main-nav-list li:nth-child(3) {
    order: 3;
  }
}

.home {
  height: 100%;
  min-height: initial;
}
.home body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: initial;
  overflow: hidden;
  background: #1d1f20;
  font-size: 12px;
}
@media (min-width: 300px) {
  .home body {
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  .home body {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .home body {
    font-size: 18px;
  }
}
@media (min-width: 1800px) {
  .home body {
    font-size: 22px;
  }
}

.title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
}

.home h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font: 400 60px "Dosis", Helvetica, Arial, sans-serif;
  font-size: 3.75em;
  white-space: nowrap;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -webkit-font-smoothing: antialiased;
  transform: translateZ(0);
}
@media (max-width: 400px) {
  .home h1 {
    font-size: 15vw;
  }
}

.social {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 120%);
  font-size: 3.5vw;
  display: flex;
  z-index: 1;
}
@media (min-width: 340px) {
  .social {
    font-size: 0.85em;
  }
}
@media (min-width: 600px) {
  .social {
    font-size: 0.75em;
  }
}
.social:before {
  content: "";
  position: absolute;
  width: 55%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  left: 50%;
  top: -75%;
  transform: translateX(-50%);
}
.social li {
  display: block;
  margin-right: 1.5em;
}
.social li:last-child {
  margin-right: 0;
}
.social a {
  display: block;
}
.social svg {
  display: block;
  width: 2.9em;
  height: 3em;
  padding: 0 1px;
  fill: rgba(255, 255, 255, 0.8);
  filter: drop-shadow(0px 0px 0.5em rgba(0, 0, 0, 0.2));
  transition: 0.2s fill cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-font-smoothing: antialiased;
}
.social a:hover svg, .social a:focus svg {
  fill: #dc1e8d;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent url("/img/home-banner/magnolia.jpg") 50% 45% no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(0) opacity(0.5);
  filter: grayscale(0) opacity(0.5);
  -webkit-transition: -webkit-filter 3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  transition: filter 3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.banner.blur-out {
  -webkit-filter: grayscale(85%) opacity(0);
  filter: grayscale(85%) opacity(0);
}
.banner.blur-in {
  -webkit-filter: grayscale(0) opacity(0.5);
  filter: grayscale(0) opacity(0.5);
}

.banner-controls {
  position: absolute;
  left: 2em;
  top: 2em;
  width: 2em;
  height: 2em;
  border-radius: 0;
  border: none;
  background: transparent;
  font-size: 0.75em;
  text-indent: -9999px;
  overflow: hidden;
  padding: 0;
  margin: 0.5em 0;
  display: none;
}
@media (min-width: 600px) {
  .banner-controls {
    top: auto;
    bottom: 2em;
  }
}
.banner-controls .symbol-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 0.2s ease;
  overflow: hidden;
  opacity: 0.8;
}
.banner-controls .symbol-wrap:before, .banner-controls .symbol-wrap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  filter: drop-shadow(0px 0px 0.5em rgba(0, 0, 0, 0.2));
  transition: transform 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.banner-controls .symbol-wrap:before {
  transform: scale(0.4, 1) translate(-1.6em, 0);
}
.banner-controls .symbol-wrap:after {
  transform: scale(0.4, 1) translate(1.6em, 0);
}
.banner-controls.paused .symbol-wrap {
  transform: translate(1em, 0) scale(1.6, 1);
}
.banner-controls.paused .symbol-wrap:before, .banner-controls.paused .symbol-wrap:after {
  transform: rotate(-45deg) translate(-1em, -1em) scale(1, 1);
}
.banner-controls:hover .symbol-wrap, .banner-controls:focus .symbol-wrap {
  opacity: 1;
}
.banner-controls:active {
  transform: scale(1.1, 1.1);
  outline: none;
}

.banner.animating ~ figcaption .banner-controls {
  display: block;
}

.img-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 95%);
  color: #fff;
  opacity: 0.8;
  font-size: 0.9em;
  padding: 1.5em 1em 1em;
  text-align: center;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  transition: opacity 3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}
.img-caption .caption-location {
  position: relative;
  padding-left: 0.8em;
  margin-left: 0.8em;
  opacity: 0.9;
}
.img-caption .caption-location:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 400px) {
  .img-caption {
    text-align: right;
    padding-right: 2em;
  }
}
@media (min-width: 600px) {
  .img-caption {
    font-size: 0.75em;
    padding: 1em 2em 2.5em;
    line-height: 1em;
  }
}

.blur-out ~ figcaption .img-caption {
  opacity: 0;
}

/*# sourceMappingURL=site.css.map */
