@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@-webkit-keyframes spin {
  0%   { -webkit-transform: rotate(0deg) scale(0); }
  100% { -webkit-transform: rotate(359deg) scale(1); }
}
@keyframes spin {
  0%   { transform: rotate(0deg) scale(0); }
  100% { transform: rotate(359deg) scale(1); }
}
@-webkit-keyframes flash {
  0%    { color: #dc1e8d; }
  20%   { color: #2783e1; }
  40%   { color: #ee983c; }
  60%   { color: #31e1b1; }
  80%   { color: #f0e818; }
  100%  { color: #dc1e8d; }
}
@keyframes flash {
  0%    { color: #dc1e8d; }
  20%   { color: #2783e1; }
  40%   { color: #ee983c; }
  60%   { color: #31e1b1; }
  80%   { color: #f0e818; }
  100%  { color: #dc1e8d; }
}

html, body, div, p, h1, h2, h3, h4, h5, ul, ol, li,
section, header, footer, article {
  margin: 0;
  padding: 0;
}
ul, ol, li {
  list-style: none;
}

html {
  background-color: #fff;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 1em;
  line-height: 1.5em;
}

body {
  position: relative;
}

h1 {
  font-size: 3.5em;
  line-height: 1.3em;
  text-align: center;
  font-weight: 300;
  padding: 1em 0 1.5em;
}

button {
  font-size: 1.3em;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 1em 2em;
  box-sizing: border-box;
  background: #fff;
  border: solid 1px #444;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #ccc;
}
  button:active {
    box-shadow: none;
    -webkit-transform: translateX(1px) translateY(1px);
    transform: translateX(1px) translateY(1px);
  }

header.small {
  height: 4em;
  position: relative;
  background-color: #1f2325;
  color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 3px #ccc;
}
  header.small h1 {
    font-size: 2rem;
    float: left;
    line-height: 4rem;
    padding: 0 0 0 3%;
  }
  header.small button {
    float: right;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem 3%;
    padding: 0;
    box-shadow: none;
    text-indent: -9999px;
    border: none;
    background: #fff url(reset.png) no-repeat 58% 50%;
  }

#gameBoard {
  width: 94%;
  margin: 3em auto;
  outline:none;
}
  #gameBoard::after {
    content: '';
    display: table;
    clear: both;
  }
  #gameBoard .tile {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    border: solid 1px #6f7275;
    background-color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -0.0625em;
    text-decoration: none;
    color: #333;
    font-size: 2.5em;
    padding: 2em 0em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
    #gameBoard .tile:focus {
      background-color: #acafb2;
      outline: none;
    }
    #gameBoard .tile.called {
      background-color: #1f2325;
      opacity: 0.95;
      cursor: default;
    }
  #gameBoard.done .tile {
    opacity: 0.3;
  }

.bingo {
  position: absolute;
  z-index: 10000;
  margin-top: 0.5em;
  font-size: 8em;
  line-height: 1.4em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.0625em;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.25);
  -webkit-animation: spin 1.5s ease-in, flash 8s infinite ease-in-out;
  animation: spin 1.5s ease-in, flash 8s infinite ease-in-out;
}


@media (min-width:700px) {
  html {
    height: 100%;
    background-color: #f1f3f8;
  }

  body {
    min-height: 90%;
    width: 90%;
    border: solid 1px #1f2325;
    border-radius: 4px;
    max-width: 700px;
    background-color: #fff;
    margin: 3% auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }

  h1 {
    font-size: 4em;
  }

  header.small {
    height: 6em;
    box-shadow: none;
  }
    header.small h1 {
      font-size: 3rem;
      line-height: 6rem;
    }
    header.small button {
      margin: 1.5rem 3%;
    }

  #gameBoard .tile {
    font-size: 2.5em;
    padding: 2em 0em;
  }

  .bingo {
    margin-top: 1em;
    font-size: 10em;
  }
}

@media (min-width:780px) {
  body {
    width: 700px;
    margin: 23px auto;
  }
  #gameBoard .tile {
    font-size: 2.7em;
  }
}

@media (max-width:660px) {
  #gameBoard .tile {
    font-size: 2em;
  }
}
@media (max-width:540px) {
  #gameBoard .tile {
    font-size: 1.7em;
  }
}
@media (max-width:480px) {
  #gameBoard .tile {
    font-size: 1.5em;
  }
}
@media (max-width:380px) {
  #gameBoard {
    width: 96%;
  }
  #gameBoard .tile {
    font-size: 1.3em;
  }
}
