body { padding-top: 0px; }
.navbar { display:none; }

@media (min-width: 768px) { 
	body { padding-top: 50px; }
	.navbar { display:block; } 
}
	
.jumbotron {
	background: url('../img/tas-bg.jpg') 55% -100px no-repeat;
	color: #fff;
	margin-bottom: 0;
}
.jumbotron h1 { font-weight: 300; }

@media (min-width: 558px) { .jumbotron { background-position: 55% -100px; } }
@media (min-width: 768px) { .jumbotron { background-position: 35% -40px; } }
@media (min-width: 992px) { .jumbotron { background-position: 30% -110px; } }
@media (min-width: 1200px) { .jumbotron { background-position: 0% -110px; } }

.page-header { border-bottom: none; }
.page-header h2 {
	font-weight: 300;
	font-size: 38px;
}

#hobart     { background-color: rgba(255, 245, 64, 0.85); }
#hobart .thumbnail { border-color: rgb(255, 245, 64); }
#freycinet  { background-color: rgba(57, 165, 185, 0.85); }
#freycinet .thumbnail { border-color: rgb(57, 165, 185); }
#bayoffires { background-color: rgba(255, 156, 53, 0.85); }
#bayoffires .thumbnail { border-color: rgb(255, 156, 53); }
#launceston { background-color: rgba(53, 211, 113, 0.85); }
#launceston .thumbnail { border-color: rgb(53, 211, 113); }
#hobart .container, #freycinet .container,
#bayoffires .container, #launceston .container { 
	background-color: rgba(255, 255, 255, 0.6); 
}

.thumbnail img {
	border-radius: 3px;
}
.thumbnail h3 {
	font-weight: 300;
	margin: 15px 0;
}
.thumbnail, .thumbnail address {
	overflow: hidden;
	text-overflow: ellipsis;
}

.lb-outerContainer {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.lb-dataContainer {
	background-color: #fff;
}
	.lb-dataContainer .lb-data {
		color: #333;
	}
		.lb-dataContainer .lb-data .lb-details {
			padding: 5px 5px 10px 5px;
		}
			.lb-dataContainer .lb-data .lb-details .lb-caption {
				font-size: 20px;
				font-weight: 300;
			}
		.lb-dataContainer .lb-data .lb-closeContainer {
			display: none;
		}
	