@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Lato:300');
@font-face {
    font-family: 'Home Sweet Home';
    src: url('fonts/home_sweet_home-webfont.eot');
    src: url('fonts/home_sweet_home-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/home_sweet_home-webfont.woff2') format('woff2'),
         url('fonts/home_sweet_home-webfont.woff') format('woff'),
         url('fonts/home_sweet_home-webfont.ttf') format('truetype'),
         url('fonts/home_sweet_home-webfont.svg#home_sweet_homeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************/
/*      PAGE      */
/******************/

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.3em;
  font-family: 'Lato', 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
[aria-hidden="true"],
.spine,
.book footer,
.book footer img {
  display: none;
}


@media only screen {

/************************************/
/*           REGULAR VIEW           */
/************************************/

.reader {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  background-color: #f1f3f8;
  padding: 1rem 12% 4rem;
  line-height: 1.5em;
  position: relative;
}
.reader:before {
  content: '';
  height: 100%;
  width: 80%;
  position: absolute;
  top: 0;
  left: 10%;
  z-index: -1;
	background-color: #fff;
}

.reader h1 {
  font-size: 2.6rem;
  line-height: 1.3em;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: lowercase;
}
.reader h2 {
	font-size: 1.9rem;
	margin: 3rem 0 0.7rem;
}
.reader h3 {
	font-size: 1.5rem;
	margin: 1.2rem 0 0.5rem;
}
.reader h4 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  padding-top: 1rem;
}
.reader h5 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}

.reader p {
  margin: 0.5rem 0;
}

.reader ul {
  clear: left;
}
.reader li {
  list-style-type: disc;
  padding: 4px 0 4px 4px;
  margin-left: 1.8rem;
}

.reader dt {
  float: left;
  margin-right: 0.5rem;
}
.reader dd {
  display: block;
  padding-bottom: 0.3rem;
}
  .reader dd:after {
    content: '';
    display: table;
    clear: left;
  }

.reader .toggle-on {
  position: fixed;
  top: -3rem;
  right: 1rem;
  padding: 4rem 2rem 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.6);
  transform: translateY(-100%);
  display: none;
}
  .reader .toggle-on:focus {
    outline: none;
  }
  .reader .toggle-on.show {
    display: block;
    animation: slide_in 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transform: translateY(0%);
  }
  .reader .toggle-on.hide {
    animation: slide_out 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transform: translateY(-100%);
  }
  .reader .toggle-on p {
    margin: 0 0 1rem;
  }
  .reader .toggle-on .yep,
  .reader .toggle-on .nope {
    border: none;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
  }
  .reader .toggle-on .yep {
    background: #F44336;
    color: #fff;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
    .reader .toggle-on .yep:hover,
    .reader .toggle-on .yep:focus {
      background-color: #E53935;
    }
  .reader .toggle-on .nope {
    background: #BDBDBD;
    color: #222;
    padding: 0.5rem;
  }
    .reader .toggle-on .nope:hover,
    .reader .toggle-on .nope:focus {
      background-color: #AFAFAF;
    }
@keyframes slide_in {
  0% { transform: translateY(-100%); }
  70% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}
@keyframes slide_out {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}
.reader .toggle-off {
  display: none;
}

.reader .about {
  text-align: center;
}
.reader .about h2 {
  margin-top: 0.4rem;
}
.reader .about p {
  font-style: italic;
}

.reader .education > section {
  margin-bottom: 1rem;
}
.reader .education p {
  margin: 0;
}

.reader .experience .book {
  padding: 0.5rem 0 3rem;
  position: relative;
}
.reader .experience .book:last-of-type {
  padding-bottom: 1rem;
}
.reader .experience .book header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: solid 1px #f1f3f8;
  padding-bottom: 0.5rem;
}
.reader .experience h3 {
  margin: 0;
}
.reader .experience header .details {
  text-align: right;
}
.reader .experience header .details p {
  margin: 0.1rem 0 0;
}
.reader .experience .book > section {
  margin-top: 1rem;
}

.reader .profiles a {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.3rem 0.5rem 2.8rem;
  margin-right: 5rem;
  margin-top: 2rem;
  color: #333;
  text-decoration: none;
}
  .reader .profiles a:after{
    content: '';
    width: 2.3rem;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #333;
    transition: width 100ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
  }
  .reader .profiles a:hover:after,
  .reader .profiles a:focus:after {
    width: 100%;
  }
  .reader .profiles a:last-of-type {
    margin-right: 0;
  }
.reader .profiles .github {
  background: url('img/github.svg') 8% 50% no-repeat;
  background-size: auto 70%;
}
.reader .profiles .codepen {
  background: url('img/codepen.svg') 3% 50% no-repeat;
  background-size: auto 80%;
}

@media (min-width: 68rem) {
  .reader .experience .book > section {
    -webkit-columns: 25rem 2;
    -moz-columns: 25rem 2;
    columns: 25rem 2;
  }
  .reader .experience .page {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
  }
  .reader .experience .position-desc {
    -webkit-column-break-before: always;
    page-break-before: always;
    break-before: column;
  }
}

@media (max-width: 53rem) {
  .reader {
    padding: 1rem 8% 2rem;
  }
  .reader:before {
    width: 90%;
    left: 5%;
  }
  .reader h1 {
    font-size: 2.6rem;
  }
  .reader h2 {
  	font-size: 1.9rem;
  }
  .reader h3 {
  	font-size: 1.5rem;
  }
  .reader h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 43rem) {
  .reader .experience .book header {
    display: block;
    padding-bottom: 1rem;
  }
  .reader .experience h3 {
    margin-bottom: 0.5rem;
  }
  .reader .experience header .details {
    text-align: left;
  }
  .reader .experience .book > section {
    margin-top: 0.5rem;
  }
}
@media (max-width: 30rem) {
  .reader {
    padding: 1rem 5% 2rem;
  }
  .reader:before {
    width: 100%;
    left: 0;
  }
  .reader h1 {
    font-size: 2rem;
  }
  .reader h2 {
  	font-size: 1.6rem;
  }
  .reader h3 {
  	font-size: 1.4rem;
  }
  .reader h4 {
    font-size: 1.2rem;
  }
  .reader .experience .book header {
    border-bottom: none;
    padding-bottom: 0;
  }
}


/*************************************/
/*           WALL - BASICS           */
/*************************************/

.wall {
  background: #f6f6f6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.wall:before {
  content: none;
}
.wall h1,
.wall h2 {
  position: absolute;
  overflow: hidden;
  text-indent: -3000px;
}
.wall .about,
.wall .skills,
.wall .education,
.wall .experience {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}


.wall .toggle-on {
  display: none;
}
.wall .toggle-off {
  display: none;  /* TODO */
}


/*****************************/
/*           ABOUT           */
/*****************************/

.wall .about {
  align-self: flex-start;
  flex-flow: column nowrap;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent 37%, #f0e7dd 37%, #f0e7dd 63%, transparent 63%) #FAF0E6;
  background-size: 4px 4px;
  box-shadow: 0 0 0 0.3rem #987264,
    0 0 0 0.4rem #795548,
    0 0 0 0.7rem #987264;
  margin: 1.1rem 0.7rem 0.7rem;
  font-family: 'Home Sweet Home';
  color: #546E7A;
  text-align: center;
  font-size: 0.8em;
}
  .wall .about:before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.4rem;
    border-radius: 30%;
    top: -1rem;
    left: 50%;
    margin-left: -1.25rem;
    background-color: #987264;
  }
  .wall .about h2 {
    position: relative;
    text-indent: 0;
    font-family: 'Home Sweet Home';
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }
  .wall .about p {
    margin: 0 auto;
    width: 80%;
  }
    .wall .about p .love {
      position: absolute;
      margin-left: -4000px;
    }
    .wall .about p .love-symbol {
      display: inline-block;
      font-size: 1.3em;
      line-height: 0.8em;
      vertical-align: middle;
      color: #F44336;
    }



/******************************/
/*           SKILLS           */
/******************************/

.wall .skills {
}
  .wall .skills:before {
    content: '';
    width: 100%;
    height: 0.4rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #795548;
    border-radius: 3px;
  }
  .wall .skills ul {
    display: flex;
    list-style-type: none;
  }
  .wall .skills li {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fab84a;
    box-shadow: 0 0 0 0.5rem #fbc56f;
    margin: 11.5rem 1rem 0.5rem 1rem;
    font-size: 0.8em;
    display: flex;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.06));
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.06));
  }
    .wall .skills li:before {
      content: '';
      width: 5rem;
      height: 11rem;
      position: absolute;
      bottom: 100%;
      bottom: calc(100% + 0.4rem);
      left: -0.5rem;
      background: linear-gradient(-82deg, transparent 23%, #590188 24%, #590188 50%, transparent 51%),
                  linear-gradient(82deg, transparent 23%, #7B1FA2 24%, #7B1FA2 50%, transparent 51%),
                  linear-gradient(180deg, #4A148C 3%, transparent 3%);
    }
    .wall .skills li span {
      margin: 0;
      position: absolute;
      white-space: nowrap;
      transform-origin: center left;
      transform: rotate(-82deg);
      color: #fff;
      top: -1.7rem;
      left: 50%;
      padding-top: 0.2rem;
    }
    .wall .skills li svg {
      display: block;
      height: 80%;
      fill: #fbc56f;
      -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.04));
      filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.04));
      margin: 17% auto 0;
    }
    .wall .skills li:after {
      content: '';
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      position: absolute;
      top: -0.5rem;
      left: -0.5rem;
      background: linear-gradient(-45deg, transparent 20%, rgba(255,255,255,0.2) 40%, transparent 60%);
    }



/*******************************/
/*           DEGREES           */
/*******************************/

.wall .education {
  justify-content: flex-end;
  flex-wrap: wrap;
}

.wall .degree {
  position: relative;
  width: 15.5rem;
  display: flex;
  flex-flow: column nowrap;
  border: solid 1rem #222;
  padding: 1rem 0.5rem 0.6rem;
  background-color: #fff;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  text-align: center;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.2);
  margin: 0 1rem 1rem 1rem;
}
  .wall .degree header {
    background: url('img/qut.png') 50% 50% no-repeat;
    background-size: contain;
    text-indent: -3000px;
    overflow: hidden;
    height: 2.1rem;
  }
  .wall .degree section {
    margin-bottom: auto;
  }
  .wall .degree span,
  .wall .degree [aria-hidden="true"] {
    display: block;
  }
  .wall .degree .student,
  .wall .degree .degree-title {
    font-weight: bold;
    font-size: 1.1em;
  }
  .wall .degree .distinction {
    font-size: 1.1em;
  }
  .wall .degree .student {
    padding: 1.8rem 0 0.8rem;
  }
  .wall .degree .degree-title {
    padding: 0.8rem 0 0.3rem;
  }
  .wall .degree footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    padding-top: 0.8rem;
  }
    .wall .degree footer p {
      font-size: 0.95em;
      display: block;
      margin: 0.5rem 0.5rem 0 0;
    }
  .wall .degree .seal {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    background: url('img/qut-grey.png') 50% 0% no-repeat;
    background-color: #e0e0e0;
    background-size: 70%, 100%;
    box-shadow: 0 0 0 0.1rem #d6d6d6, 0 0 0 0.4rem #e0e0e0, 0 0 0 0.5rem #d6d6d6;
    position: relative;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
  }
    .wall .degree .seal:after {
      content: '';
      position: absolute;
      width: 3.7rem;
      height: 3.7rem;
      top: -0.5rem;
      left: -0.5rem;
      border-radius: 50%;
      background: linear-gradient(-45deg, transparent 20%, rgba(255,255,255,0.3) 40%, transparent 60%);
    }



/********************************/
/*           PROFILES           */
/********************************/

.wall .profiles a {
  display: block;
  position: relative;
  text-indent: -3000px;
}
.wall .profiles .github {
  width: 4rem;
  height: 7rem;
  background: url('img/github.svg') 50% 92% no-repeat;
  background-size: 75%;
  -webkit-filter: drop-shadow(1px 2px 2px rgba(0,0,0,0.1));
  filter: drop-shadow(1px 2px 2px rgba(0,0,0,0.1));
}
  .wall .profiles .github:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.4rem;
    background-color: #212121;
    border-radius: 0.5rem 0 0;
  }
  .wall .profiles .github:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0.2rem;
    background-color: #212121;
    border-radius: 0.5rem 0 0;
  }
  .wall .profiles .github:hover {
    -webkit-filter: brightness(2.5) drop-shadow(1px 2px 2px rgba(0,0,0,0.1));
    filter: brightness(2.5) drop-shadow(1px 2px 2px rgba(0,0,0,0.1));
  }
.wall .profiles .codepen {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: url('img/codepen.svg') 50% 100% no-repeat;
  background-size: 75%;
  margin-bottom: 0.58rem;
}
  .wall .profiles .codepen:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(225, 245, 254, 0.85);
    box-shadow: inset 0.5rem 0.5rem 0.5rem 0.1rem rgba(255,255,255,0.75),
                0px 0px 10px rgba(100,100,100,0.1);
  }
    .wall .profiles .codepen:hover:before {
      background: radial-gradient(circle, rgba(255,255,255,0.5) 25%, transparent 25%) 0 0,
                  radial-gradient(circle, rgba(255,255,255,0.8) 20%, transparent 20%) 0.7rem 0.3rem,
                  radial-gradient(circle, rgba(255,255,255,0.9) 18%, transparent 18%) 0.3rem 0.6rem,
                  rgba(225, 245, 254, 0.85);
      background-size: 1rem 1rem;
      animation: snow 2s linear infinite;
    }
  .wall .profiles .codepen:after {
    content: '';
    position: absolute;
    left: 0;
    top: 93%;
    width: 100%;
    border-bottom: 1rem solid #757575;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
  }

@keyframes snow {
  0% { background-position: 0 0, 0.7rem 0.3rem, 0.3rem 0.6rem; }
  50% { background-position: 0.3rem 0.4rem, 0.8rem 0.5rem, 0.2rem 0.9rem; }
  100% { background-position: 0.5rem 0.6rem, 0.7rem 0.9rem, 0.2rem 1rem; }
}



/**********************************/
/*           EXPERIENCE           */
/**********************************/

.wall .experience {
  justify-content: center;
  align-items: flex-end;
  padding: 0 1rem;
}

.wall .shelf-group:after,
.wall .experience:after,
.wall .experience:before {
  width: 100%;
  height: 1.5rem;
  background-color: #634438;
  border-radius: 1px 1px 4rem 4rem;
  box-shadow: 0px 3px 4px 0 rgba(0,0,0,0.1);
}

.wall .book {
  position: relative;
  flex: none;
  overflow: visible;
  margin-top: 2rem;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transition: all 0.4s linear;
  transform: perspective(1000px)
             rotateY(87deg)
             translateX(6rem);    /* distance to experience */
   width: 3.5rem;     /* spine width */
   height: 18rem;   /* book height */
}

.wall .spine {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  text-decoration: none;
  transition: inherit;
  backface-visibility: hidden;
  transform-origin: right center;
  transform: rotateY(-90deg);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
}

.wall .front-cover,
.wall .page,
.wall .back-cover {
  position: absolute;
  height: 100%;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
  backface-visibility: hidden;
  transform-origin: left center;
  transition: all 0.4s linear;
  width: 14rem;     /* book width */
}

.wall .front-cover {
  z-index: 100;
  transform: perspective(1000px) rotateY(0deg);
  background: linear-gradient(90deg,
              transparent 3%,
              rgba(0,0,0,0.1) 5%,
              transparent 6%),
              linear-gradient(0deg,
              rgba(0,0,0,0.15) 35%,
              transparent 35%);
}

.wall .back-cover {
  transform-origin: right center;
  transform: translateX(-100%)
             translateZ(-3.5rem)
             rotateY(179deg);     /* spine width */
  background: linear-gradient(-90deg,
              transparent 3%,
              rgba(0,0,0,0.1) 5%,
              transparent 6%),
              linear-gradient(0deg,
              rgba(0,0,0,0.15) 35%,
              transparent 35%);
}

.wall .page:before {
  /* raised page sides */
  content: '';
  height: 100%;
  position: absolute;
  width: 0;
  top: 0;
  background-color: rgba(0,0,0,0.1);
  transition: inherit;
}
.wall .page:after {
  /* page curves, top and bottom */
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: solid 0px transparent;
  border-top-color: rgba(0,0,0,0.2);
  transition: inherit;
  box-shadow: 0px -18rem 0px 0px #fff;       /* book height */
  box-shadow: 0px -18rem 0px 0px #fff,
              0px calc(-18rem - 1px) 1px 0px rgba(100,100,100,0.1);   /* book height */
}
.wall .page:nth-child(odd) {
  transform: perspective(1000px)
             rotateY(180deg)
             translateX(-100%);
  background: #fff
              linear-gradient(90deg,
              rgba(0,0,0,0) 97%,
              rgba(0,0,0,0.1) 100%);
  box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.2);
}
.wall .page:nth-child(odd):before { left: 0; }
.wall .page:nth-child(odd):after  { left: 1px; }

.wall .page:nth-child(even) {
  background: #fff
              linear-gradient(90deg,
              rgba(0,0,0,0.1) 0%,
              rgba(0,0,0,0) 3%);
  border-left: solid 1px rgba(0,0,0,0.2);
}
.wall .page:nth-child(even):before { right: 0; }
.wall .page:nth-child(even):after  { left: -1px; }

.wall .prev,
.wall .next,
.wall .close {
  display: block;
  position: absolute;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-indent: -3000px;
  overflow: hidden;
  opacity: 0.5;
  transition: all 0.4s ease;
}
  .wall .prev:hover,
  .wall .prev:focus,
  .wall .next:hover,
  .wall .next:focus,
  .wall .close:hover,
  .wall .close:focus {
    opacity: 1;
  }
.wall .prev {
  width: 2rem;
  height: 3rem;
  left: -16rem;     /* book width minus width */
  top: 50%;
  margin-top: -1.5rem;
  background: rgba(250,250,250,0.9) url('img/prev.svg') 50% 50% no-repeat;
  background-size: contain;
  display: none;
}
  .wall .open .prev {
    display: block;
  }
  .wall .closed .prev {
    display: block;
  }
.wall .next {
  width: 2rem;
  height: 3rem;
  left: 14rem;      /* book width */
  top: 50%;
  margin-top: -1.5rem;
  background: rgba(250,250,250,0.9) url('img/next.svg') 50% 50% no-repeat;
  background-size: contain;
}
  .wall .closed .next {
    display: none;
  }
.wall .close {
  width: 1.6rem;
  height: 1.6rem;
  left: 14rem;      /* book width */
  top: -1.4rem;
  background: rgba(250,250,250,0.9) url('img/close.svg') 50% 50% no-repeat;
  background-size: 90%;
}
  .wall .closed .close {
    left: 0;
  }


/**********/
/* states */
/**********/

.wall .spine:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

.wall .remove-from-shelf {
  animation: unshelve 1s linear;
  transform: none;
  z-index: 1000;
}
  .wall .remove-from-shelf .back-cover {
    transform: translateX(-100%)
               rotateY(179deg);
  }
@keyframes unshelve {
  0% {
    transform: perspective(1000px)
               rotateY(87deg)
               translateX(6rem);  /* distance to experience */
  }
  50% {
    transform: perspective(1000px)
               rotateY(87deg);
  }
  100% {
    transform: none;
  }
}

.wall .book.open {
  transform: translateX(50%);
}
  .wall .book.open .page:before {
    width: 3px;
  }
  .wall .book.open .page:after {
    border-width: 3px;
    bottom: -3px;
  }
.wall .book.closed {
  transform: translateX(100%);
}

.wall .front-cover.turned {
  transform: perspective(1000px)
             rotateY(-180deg);
}
.wall .page.turned:nth-child(odd) {
  transform: perspective(1000px)
             rotateY(0deg)
             translateX(-100%);
}
.wall .page.turned:nth-child(even) {
  z-index: 200;
  transform: perspective(1000px)
             rotateY(-180deg);
}
.wall .page.surface {
  z-index: 100;
}
.wall .back-cover.turned {
  z-index: 200;
  transform: translateX(-100%)
             perspective(1000px)
             rotateY(0deg);
}

.wall .add-to-shelf {
  animation: shelve 1s linear;
  animation-fill-mode: forwards;
}
@keyframes shelve {
  0% {
    transform: none;
  }
  50% {
    transform: perspective(1000px)
               rotateY(87deg);
  }
  100% {
    transform: perspective(1000px)
               rotateY(87deg)
               translateX(6rem);  /* distance to experience */
  }
}

/***************/
/* book design */
/***************/

.wall .cover {
  color: #fff;
  padding: 2rem 1rem 0.5rem;
}
.wall .front-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  .wall .front-cover h3 {
    font-size: 1.8rem;
    text-align: center;
    padding: 0.7rem 1rem 0;
    font-weight: bold;
  }
    .wall .front-cover h3 .secondary {
      display: block;
      font-size: 0.65em;
      padding-top: 0.7rem;
      line-height: 1.3em;
      font-weight: normal;
    }
  .wall .front-cover .details {
    height: 35%;
    text-align: center;
    font-size: 0.85rem;
  }
    .wall .front-cover .details p {
      margin: 1rem;
    }
      .wall .front-cover .details p:last-child {
        margin-bottom: 0;
      }
    .wall .front-cover .details .country {
      display: block;
      text-transform: uppercase;
      font-size: 0.8em;
      padding-top: 0.3rem;
    }
  .wall .spine span {
    white-space: nowrap;
    color: currentColor;
    display: block;
    margin: 0 auto;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-text-orientation: sideways-right;
    text-orientation: sideways-right;
    font-size: 1.2em;
  }
.wall .back-cover {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}
  .wall .back-cover h4 {
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 1.2rem;
  }
  .wall .back-cover img {
    display: block;
    height: 30%;
    border: solid 1px rgba(255,255,255,0.7);
    opacity: 0.8;
  }
  .wall .back-cover blockquote {
    margin: 1rem 0 0;
    text-align: center;
    line-height: 1.5em;
  }
    .wall .back-cover blockquote:before,
    .wall .back-cover blockquote:after {
      font-family: 'Georgia', serif;
      font-size: 1.8em;
      vertical-align: bottom;
    }
    .wall .back-cover blockquote:before {
      content: '\201C';
      padding-right: 0.2rem;
    }
    .wall .back-cover blockquote:after {
      content: '\201D';
      padding-left: 0.2rem;
    }
.wall .page {
  font-family: 'Georgia', serif;
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.3em;
  color: #222;
}
  .wall .page h4 {
    font-family: 'Georgia', serif;
    font-weight: bold;
    margin: 1em 0;
  }
    .wall .page h4:first-child {
      margin-top: 0;
    }
  .wall .page h5 {
    font-family: 'Georgia', serif;
    color: #777;
    font-style: italic;
  }
    .wall .page h5:first-child {
      margin-top: 0;
    }
  .wall .page p {
    margin: 0.5em 0 1em;
  }
    .wall .page p:first-child {
      margin-top: 0;
    }
    .wall .page p:last-child {
      margin-bottom: 0;
    }
  .wall .page dt {
    display: inline-block;
    float: left;
    clear: left;
    margin-right: 0.4rem;
  }
  .wall .page dt,
  .wall .page dd {
    line-height: 1.4em;
  }
  .wall .page dd {
    padding-bottom: 0.2rem;
  }
  .wall .page ul {
    list-style-type: none;
    margin: 0;
    padding: 0.2rem 0 0 1rem;
    clear: left;
  }
    .wall .page li {
      padding: 0 0 0.2rem 0;
      line-height: 1.3em;
    }
  .wall .page ul.tech {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
  }
    .wall .page .tech li {
      flex: 1 1 50%;
      white-space: nowrap;
    }


/***************/
/* org colours */
/***************/

.wall .telstra .spine {
  background: url('img/telstra.png') 49% 88% no-repeat,
              linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, transparent 5%),
              linear-gradient(0deg, rgba(0,0,0,0.15) 35%, transparent 35%);
  background-size: auto 11%, auto, auto;
}
.wall .telstra .cover {
  background-color: #e91e63;
}
.wall .sms .spine {
  background: url('img/sms.png') 50% 86% no-repeat,
              linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, transparent 5%),
              linear-gradient(0deg, rgba(0,0,0,0.15) 35%, transparent 35%);
  background-size: 75% auto, auto, auto;
}
.wall .sms .cover {
  background-color: #1976D2;
}
.wall .sms .front-cover h3 {
  font-size: 2rem;
}
.wall .enett .spine {
  background: url('img/enett.png') 50% 88% no-repeat,
              linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, transparent 5%),
              linear-gradient(0deg, rgba(0,0,0,0.15) 35%, transparent 35%);
  background-size: auto 12%, auto, auto;
}
.wall .enett .cover {
  background-color: #039BE5;
}
.wall .qldhealth .spine {
  background: url('img/qldhealth.png') 50% 88% no-repeat,
              linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, transparent 5%),
              linear-gradient(0deg, rgba(0,0,0,0.15) 35%, transparent 35%);
  background-size: auto 12%, auto, auto;
}
.wall .qldhealth .cover {
  background-color: #E53935;
}
.wall .startnextweek .spine {
  background: url('img/startnextweek.png') 48% 88% no-repeat,
              linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, transparent 5%),
              linear-gradient(0deg, rgba(0,0,0,0.15) 35%, transparent 35%);
  background-size: auto 11%, auto, auto;
}
.wall .startnextweek .cover {
  background-color: #43A047;
}
.wall .startnextweek .front-cover h3 {
  font-size: 1.6rem;
}
.wall .advantech .spine {
  background: url('img/advantech.png') 50% 92% no-repeat,
              linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, transparent 5%),
              linear-gradient(0deg, rgba(0,0,0,0.15) 35%, transparent 35%);
  background-size: 50% auto, auto, auto;
}
.wall .advantech .cover {
  background-color: #EF6C00;
}
.wall .groupm .spine {
  background: url('img/groupm.png') 55% 87% no-repeat,
              linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, transparent 5%),
              linear-gradient(0deg, rgba(0,0,0,0.15) 35%, transparent 35%);
  background-size: 60% auto, auto, auto;
}
.wall .groupm .cover {
  background-color: #283593;
}
.wall .csiro .spine {
  background: url('img/csiro.png') 50% 88% no-repeat,
              linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, transparent 5%),
              linear-gradient(0deg, rgba(0,0,0,0.15) 35%, transparent 35%);
  background-size: auto 12%, auto, auto;
}
.wall .csiro .cover {
  background-color: #0097A7;
}
.wall .ato .spine {
  background: url('img/ato.png') 50% 88% no-repeat,
              linear-gradient(-90deg, rgba(0,0,0,0.1) 0%, transparent 5%),
              linear-gradient(0deg, rgba(0,0,0,0.15) 35%, transparent 35%);
  background-size: auto 12%, auto, auto;
}
.wall .ato .cover {
  background-color: #00796B;
}



/******************************/
/*           LAYOUT           */
/******************************/

.wall {
  padding: 1rem 2rem 2rem;
  min-height: 100vh;
  min-width: 28.5rem;
}
.wall .summary-group {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.wall .education {
  flex-grow: 1;
}
.wall .shelf-group {
  position: relative;
  width: 80%;
  max-width: 50rem;
  margin: 2rem auto 1.5rem auto;
}
.wall .shelf-group:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
}
.wall .experience {
  width: 100%;
  justify-content: flex-start;
  padding-left: 8rem;
}
.wall .profiles a:nth-of-type(1) {
  position: absolute;
  left: 4.25rem;
  bottom: 0;
}
.wall .profiles a:nth-of-type(2) {
  position: absolute;
  right: 5%;
  bottom: 0;
}

@media (max-width: 76rem) {
  .wall {
    align-items: flex-start;
  }
  .wall .summary-group {
    flex-flow: column nowrap;
  }
  .wall .about {
    align-self: auto;
  }
  .wall .skills {
    margin-top: 4rem;
  }
  .wall .shelf-group {
    width: 90%;
  }
}

@media (max-width: 63rem) {
  .wall .summary-group {
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .wall .skills {
    margin-top: 0;
    margin-bottom: 4rem;
  }
  .wall .education {
    width: 100%;
    justify-content: center;
  }
  .wall .shelf-group {
    width: 100%;
  }
    .wall .shelf-group:after {
      width: 80%;
      left: 15%;
    }
  .wall .experience {
    width: 80%;
    flex-flow: row wrap;
    padding: 0 22% 0 17%;
    margin-left: 5%;
  }
    .wall .experience:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
    }
  .wall .experience .book:nth-of-type(6) {
    margin-left: auto;
  }
  .wall .profiles a:nth-of-type(1) {
    bottom: 50%;
    left: 14.5%;
    left: calc(22% - 3.75rem);
  }
  .wall .profiles a:nth-of-type(2) {
    right: 10%;
  }
}

@media (max-width: 48rem) {
  .wall .experience {
    padding-right: 17%;
  }
}

@media (max-width: 46rem) {
  .wall .summary-group {
    flex-flow: column nowrap;
    align-items: center;
  }
  .wall .skills {
    margin-top: 4rem;
  }

  .wall .shelf-group {
    width: 70%;
  }
    .wall .shelf-group:after {
      width: 100%;
      left: 0;
    }
  .wall .experience {
    width: 100%;
    padding: 0 27%;
    margin-left: 0;
  }
    .wall .experience:after {
      top: 33.33%;
    }
    .wall .experience:before {
      content: '';
      position: absolute;
      left: 0;
      top: 66.66%;
    }
  .wall .experience .book:nth-of-type(6) {
    margin-left: 0;
  }
  .wall .profiles a:nth-of-type(1) {
    bottom: 66.66%;
    left: 19.5%;
    left: calc(27% - 3.75rem);
  }
  .wall .profiles a:nth-of-type(2) {
    right: 4%;
  }
}

@media (max-width: 37rem) {
  .wall .shelf-group {
    width: 100%;
  }
  .wall .experience {
    padding: 0 13%;
    justify-content: center;
  }
    .wall .experience:before {
      content: none;
    }
    .wall .experience:after {
      top: 50%;
    }

  .wall .profiles a:nth-of-type(1) {
    bottom: 0;
    left: 3%;
  }
  .wall .profiles a:nth-of-type(2) {
    right: 3%;
  }

    .wall .book.remove-from-shelf:nth-of-type(1) {
      animation: unshelve_to_middle_1 1.25s linear;
      transform: translateX(300%);
    }
    .wall .book.remove-from-shelf:nth-of-type(2) {
      animation: unshelve_to_middle_2 1.25s linear;
      transform: translateX(200%);
    }
    .wall .book.remove-from-shelf:nth-of-type(3) {
      animation: unshelve_to_middle_3 1.25s linear;
      transform: translateX(100%);
    }
    .wall .book.remove-from-shelf:nth-of-type(4) {
      transform: none;
    }
    .wall .book.remove-from-shelf:nth-of-type(5) {
      animation: unshelve_to_middle_5 1.25s linear;
      transform: translateX(-100%);
    }
    .wall .book.remove-from-shelf:nth-of-type(6) {
      animation: unshelve_to_middle_6 1.25s linear;
      transform: translateX(-200%);
    }
    .wall .book.remove-from-shelf:nth-of-type(7) {
      animation: unshelve_to_middle_7 1.25s linear;
      transform: translateX(150%);
    }
    .wall .book.remove-from-shelf:nth-of-type(8) {
      animation: unshelve_to_middle_8 1.25s linear;
      transform: translateX(50%);
    }
    .wall .book.remove-from-shelf:nth-of-type(9) {
      animation: unshelve_to_middle_9 1.25s linear;
      transform: translateX(-50%);
    }
    .wall .book.add-to-shelf:nth-of-type(1) {
      animation: from_middle_1 0.25s linear, shelve 1s linear;
      animation-delay: 0s, 0.25s;
    }
    .wall .book.add-to-shelf:nth-of-type(2) {
      animation: from_middle_2 0.25s linear, shelve 1s linear;
      animation-delay: 0s, 0.25s;
    }
    .wall .book.add-to-shelf:nth-of-type(3) {
      animation: from_middle_3 0.25s linear, shelve 1s linear;
      animation-delay: 0s, 0.25s;
    }
    .wall .book.add-to-shelf:nth-of-type(5) {
      animation: from_middle_5 0.25s linear, shelve 1s linear;
      animation-delay: 0s, 0.25s;
    }
    .wall .book.add-to-shelf:nth-of-type(6) {
      animation: from_middle_6 0.25s linear, shelve 1s linear;
      animation-delay: 0s, 0.25s;
    }
    .wall .book.add-to-shelf:nth-of-type(7) {
      animation: from_middle_7 0.25s linear, shelve 1s linear;
      animation-delay: 0s, 0.25s;
    }
    .wall .book.add-to-shelf:nth-of-type(8) {
      animation: from_middle_8 0.25s linear, shelve 1s linear;
      animation-delay: 0s, 0.25s;
    }
    .wall .book.add-to-shelf:nth-of-type(9) {
      animation: from_middle_9 0.25s linear, shelve 1s linear;
      animation-delay: 0s, 0.25s;
    }

  .wall .book nav {
    position: absolute;
    bottom: 100%;
    height: 3rem;
    width: 28rem;       /* book width */
    left: -14rem;
    background-color: rgba(0,0,0,0.1);
  }
  .wall .prev,
  .wall .next,
  .wall .close,
  .wall .prev:focus,
  .wall .next:focus,
  .wall .close:focus {
    background-color: transparent;
    margin: 0;
    opacity: 1;
    width: 5rem;
  }
  .wall .prev {
    left: 0;
    top: 0;
    background-size: auto 80%;
    background-position: 0% 50%;
  }
  .wall .next {
    left: auto;
    right: 0;
    top: 0;
    background-size: auto 80%;
    background-position: 100% 50%;
  }
  .wall .close,
  .wall .close:focus,
  .wall .closed .close {
    left: 50%;
    top: 0;
    height: 100%;
    margin-left: -2.5rem;
    background-size: auto 70%;
    background-position: 50% 50%;
  }
    .wall .prev,
    .wall .prev:focus,
    .wall .closed .next,
    .wall .closed .next:focus {
      display: block;
      opacity: 0.2;
    }
    .wall .open .prev,
    .wall .closed .prev {
      opacity: 1;
    }

  .wall .profiles .github {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: url('img/github.svg') 50% 90% no-repeat;
    background-size: 60%;
    margin-bottom: 0.58rem;
    -webkit-filter: none;
    filter: none;
  }
    .wall .profiles .github:hover {
      -webkit-filter: none;
      filter: none;
    }
    .wall .profiles .github:before {
      bottom: auto;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgba(225, 245, 254, 0.85);
      box-shadow: inset 0.5rem 0.5rem 0.5rem 0.1rem rgba(255,255,255,0.75),
                  0px 0px 10px rgba(100,100,100,0.1);
    }
      .wall .profiles .github:hover:before {
        background: radial-gradient(circle, rgba(255,255,255,0.5) 25%, transparent 25%) 0 0,
                    radial-gradient(circle, rgba(255,255,255,0.8) 20%, transparent 20%) 0.7rem 0.3rem,
                    radial-gradient(circle, rgba(255,255,255,0.9) 18%, transparent 18%) 0.3rem 0.6rem,
                    rgba(225, 245, 254, 0.8);
        background-size: 1rem 1rem;
        animation: snow 2s linear infinite;
      }
    .wall .profiles .github:after {
      right: auto;
      left: 0;
      top: 93%;
      width: 100%;
      height: 0;
      background: transparent;
      border-bottom: 1rem solid #757575;
      border-left: 1.5rem solid transparent;
      border-right: 1.5rem solid transparent;
    }
}
@media (max-width: 34rem) {
  .wall .experience {
    padding: 0 10%;
  }
}
@media (max-width: 32rem) {
  .wall .experience {
    padding: 0 7%;
  }
}

} /* end screen-only */


@keyframes unshelve_to_middle_1 {
  0% { transform: perspective(1000px) rotateY(87deg) translateX(6rem); }  /* distance to experience */
  30% { transform: perspective(1000px) rotateY(87deg); }
  60% { transform: rotateY(0deg); }
  100% { transform: translateX(300%); }
}
@keyframes unshelve_to_middle_2 {
  0% { transform: perspective(1000px) rotateY(87deg) translateX(6rem); }
  30% { transform: perspective(1000px) rotateY(87deg); }
  60% { transform: rotateY(0deg); }
  100% { transform: translateX(200%); }
}
@keyframes unshelve_to_middle_3 {
  0% { transform: perspective(1000px) rotateY(87deg) translateX(6rem); }
  30% { transform: perspective(1000px) rotateY(87deg); }
  60% { transform: rotateY(0deg); }
  100% { transform: translateX(100%); }
}
@keyframes unshelve_to_middle_5 {
  0% { transform: perspective(1000px) rotateY(87deg) translateX(6rem); }
  30% { transform: perspective(1000px) rotateY(87deg); }
  60% { transform: rotateY(0deg); }
  100% { transform: translateX(-100%); }
}
@keyframes unshelve_to_middle_6 {
  0% { transform: perspective(1000px) rotateY(87deg) translateX(6rem); }
  30% { transform: perspective(1000px) rotateY(87deg); }
  60% { transform: rotateY(0deg); }
  100% { transform: translateX(-200%); }
}
@keyframes unshelve_to_middle_7 {
  0% { transform: perspective(1000px) rotateY(87deg) translateX(6rem); }
  30% { transform: perspective(1000px) rotateY(87deg); }
  60% { transform: rotateY(0deg); }
  100% { transform: translateX(150%); }
}
@keyframes unshelve_to_middle_8 {
  0% { transform: perspective(1000px) rotateY(87deg) translateX(6rem); }
  30% { transform: perspective(1000px) rotateY(87deg); }
  60% { transform: rotateY(0deg); }
  100% { transform: translateX(50%); }
}
@keyframes unshelve_to_middle_9 {
  0% { transform: perspective(1000px) rotateY(87deg) translateX(6rem); }
  30% { transform: perspective(1000px) rotateY(87deg); }
  80% { transform: rotateY(0deg); }
  100% { transform: translateX(-50%); }
}
@keyframes from_middle_1 {
  0% { transform: translateX(300%); }
  100% { transform: translateX(0); }
}
@keyframes from_middle_2 {
  0% { transform: translateX(200%); }
  100% { transform: translateX(0); }
}
@keyframes from_middle_3 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
@keyframes from_middle_5 {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
@keyframes from_middle_6 {
  0% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}
@keyframes from_middle_7 {
  0% { transform: translateX(150%); }
  100% { transform: translateX(0); }
}
@keyframes from_middle_8 {
  0% { transform: translateX(50%); }
  100% { transform: translateX(0); }
}
@keyframes from_middle_9 {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}


@media only print {
  .toggle-on,
  .toggle-off {
    display: none;
  }

  *, a {
    color: #000;
  }
  html {
    font-size: 13px;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  h1 {
    font-size: 1.3rem;
    margin: 0 0 1rem;
  }
  h2 {
  	font-size: 1.2rem;
  	margin: 2rem 0 0.5rem;
  }
  h3 {
  	font-size: 1.1rem;
  	margin: 1rem 0 1rem;
  }
  h4 {
    font-size: 1rem;
    margin: 1.5rem 0 0.5rem;
  }
  h5 {
    font-size: 1rem;
    font-weight: normal;
    float: left;
    padding: 0.5rem 0.5rem 0 0;
  }
    h5:after {
      content: ':';
    }
    h5 + p {
      padding-top: 0.5rem;
    }
  p {
    margin: 0.3rem 0;
  }
  ul {
    clear: left;
  }
  li {
    list-style-type: disc;
    padding: 2px;
    margin-left: 2.5rem;
  }
  dt {
    float: left;
    margin-right: 0.5rem;
  }
  dd {
    display: block;
    padding-bottom: 0.3rem;
  }
    dd:after {
      content: '';
      display: table;
      clear: left;
    }
  .about h2 {
    margin-top: 0.5rem;
  }
  .education > section {
    margin-bottom: 1rem
  }
  .education p {
    margin: 0;
  }
  .experience > section {
    margin-bottom: 2.5rem;
  }
  .profiles a {
    display: block;
    margin: 0.3rem 0;
    text-decoration: none;
  }
    .profiles a:after {
      content: "- " attr(href);
      padding-left: 0.3rem;
    }
}
